.card-container {
  width: 90%;
  max-width: 90%;
  overflow: hidden;
  height: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.school-image {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.school-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.school-details h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.school-details .established {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-bottom: 4rem;
}

.faculties {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faculty {
  width: 45%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.faculty:last-child {
  margin-right: 0;
}

.faculty h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.faculty ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.faculty li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .card-container {
    height: auto;
  }

  .school-image {
    height: 13rem;
  }

  .school-details {
    margin-top: 0.5rem;
  }

  .school-details h2 {
    font-size: 1.5rem;
  }

  .school-details .established {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .faculties {
    flex-direction: column;
    align-items: center;
  }

  .faculty {
    width: 90%;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .faculty:last-child {
    margin-right: 0;
  }
}
